* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    background-image: url("f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 60%;
    text-align: center;
    margin-top: 3rem;
    color: rgb(135, 67, 215);
    background-color: rgba(0, 0, 0, 0.71);
    padding: 0.5rem;
    font-size: 6rem;
}

#text {
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-left: 6vw;
    text-align: center;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.71);
    color: rgb(135, 67, 215);
    padding: 0.5rem;
    width: 90%;
}

#start {
    margin-top: 15rem;
    font-size: 3rem;
}

#contentQuiz {
    width: 100%;
}

#quiz {
    text-align: center;
    margin-top: 5rem;
    margin-left: 14vw;
    background-color: rgba(0, 0, 0, 0.71);
    color: rgb(135, 67, 215);;
    font-size: 3rem;
    padding: 0.5rem;
    width: 70%;
}

#choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.answers {
    display: flex;
    justify-content: space-around;
    width: 12rem;
    background: rgba(245, 245, 220, 0.68);
    border: none;
    padding: 0.2rem;
    font-size: 3rem;
    margin-top: 10rem;
}

#scoreAll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 40vw;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.71);
    color: rgb(135, 67, 215);
    width: 20%;
    padding: 0.5rem;
}

#score {
    font-weight: bold;
}

#sum {
    background-color: rgba(0, 0, 0, 0.71);
    color: rgb(135, 67, 215);
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width: 1550px){
    body {
        background-size: auto;
    }
}

@media screen and (max-width: 965px){

    h1 {
       font-size: 3rem;
    }

    #text {
        margin-right: 5rem;
    }

    #quiz {
        margin-left: 12rem;
    }

    .answers {
        width: 12rem;
    }

    #scoreAll {
        margin-left: 36rem;
        width: 35%;
    }
}

@media screen and (max-width: 555px) {

    #quiz {
        margin-left: 9rem;
    }

    .answers {
        font-size: 2rem;
        width: 9rem;
    }

    #scoreAll {
        margin-left: 19rem;
    }

}

@media screen and (max-width: 400px) {

    #quiz {
        margin-left: 6rem;
    }

    .answers {
        font-size: 1.5rem;
        width: 7rem;
    }

    #scoreAll {
        width: 40%;
        font-size: 1.8rem;
        margin-left: 11rem;
    }

    #sum {
        font-size: 1.6rem;
    }
}